/* Variables */
$track-bg: var(--bs-gray-100);
$thumb-color: rgb(136, 136, 136);
$thumb-hover-color: rgb(102, 102, 102);
$thumb-active-color: rgb(85, 85, 85);

/* Dark Mode Variables */
$track-bg-dark: var(--bs-body-bg);
$thumb-color-dark: rgb(120, 120, 120);
$thumb-hover-color-dark: rgb(156, 156, 156);
$thumb-active-color-dark: rgb(180, 180, 180);

::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: $track-bg;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
  background-color: $thumb-color;

  &:hover {
    background-color: $thumb-hover-color;
  }

  &:active {
    background-color: $thumb-active-color;
  }
}

/* Buttons */
::-webkit-scrollbar-button {
  &:single-button {
    background-color: $track-bg;
    display: block;
    background-size: 9px;
    background-repeat: no-repeat;

    /* Vertical Scroll */
    &:vertical {
      /* Up */
      &:decrement {
        height: 20px;
        width: 16px;
        background-position: center 10px;        
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-color}'><polygon points='50,00 0,50 100,50'/></svg>");

        &:hover {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-hover-color}'><polygon points='50,00 0,50 100,50'/></svg>");
        }

        &:active {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-active-color}'><polygon points='50,00 0,50 100,50'/></svg>");
        }
      }

      /* Down */
      &:increment {
        height: 20px;
        width: 16px;
        background-position: center 5px;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-color}'><polygon points='0,0 100,0 50,50'/></svg>");

        &:hover {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-hover-color}'><polygon points='0,0 100,0 50,50'/></svg>");
        }

        &:active {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-active-color}'><polygon points='0,0 100,0 50,50'/></svg>");
        }
      }
    }

    /* Horizontal Scroll */
    &:horizontal {
      /* Left */
      &:decrement {
        height: 16px;
        width: 20px;
        background-position: 10px center;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-color}'><polygon points='0,50 50,100 50,0'/></svg>");

        &:hover {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-hover-color}'><polygon points='0,50 50,100 50,0'/></svg>");
        }

        &:active {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-active-color}'><polygon points='0,50 50,100 50,0'/></svg>");
        }
      }

      /* Right */
      &:increment {
        height: 16px;
        width: 20px;
        background-position: 5px center;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-color}'><polygon points='0,0 0,100 50,50'/></svg>");

        &:hover {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-hover-color}'><polygon points='0,0 0,100 50,50'/></svg>");
        }

        &:active {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-active-color}'><polygon points='0,0 0,100 50,50'/></svg>");
        }
      }
    }
  }
}

@import "bootstrap/scss/mixins/color-mode";
$color-mode-type: data;

@include color-mode(dark) {
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background-color: $track-bg-dark;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $thumb-color-dark;

    &:hover {
      background-color: $thumb-hover-color-dark;
    }

    &:active {
      background-color: $thumb-active-color-dark;
    }
  }

  /* Buttons */
  ::-webkit-scrollbar-button {
    &:single-button {
      background-color: $track-bg-dark;

      /* Vertical Scroll */
      &:vertical {
        /* Up */
        &:decrement {
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-color-dark}'><polygon points='50,00 0,50 100,50'/></svg>");

          &:hover {
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-hover-color-dark}'><polygon points='50,00 0,50 100,50'/></svg>");
          }

          &:active {
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-active-color-dark}'><polygon points='50,00 0,50 100,50'/></svg>");
          }
        }

        /* Down */
        &:increment {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-color-dark}'><polygon points='0,0 100,0 50,50'/></svg>");

          &:hover {
              background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-hover-color-dark}'><polygon points='0,0 100,0 50,50'/></svg>");
        }

          &:active {
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-active-color-dark}'><polygon points='0,0 100,0 50,50'/></svg>");
          }
        }
      }

      /* Horizontal Scroll */
      &:horizontal {
        /* Left */
        &:decrement {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-color-dark}'><polygon points='0,50 50,100 50,0'/></svg>");

          &:hover {
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-hover-color-dark}'><polygon points='0,50 50,100 50,0'/></svg>");
          }

          &:active {
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-active-color-dark}'><polygon points='0,50 50,100 50,0'/></svg>");
          }
        }

        /* Right */
        &:increment {
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-color-dark}'><polygon points='0,0 0,100 50,50'/></svg>");

          &:hover {
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-hover-color-dark}'><polygon points='0,0 0,100 50,50'/></svg>");
          }

          &:active {
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='#{$thumb-active-color-dark}'><polygon points='0,0 0,100 50,50'/></svg>");
          }
        }
      }
    }
  }
}
