.ScrollToTopButton {
  position: relative;

  .btn {
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 20;
    padding: 8px;
    border: 2px;

    &:hover,&:focus {
      background-color: var(--bs-gray-200);
    }
  }
}

@import "bootstrap/scss/mixins/color-mode";
$color-mode-type: data;

@include color-mode(dark) {
  .ScrollToTopButton {
    .btn {
      &:hover,&:focus {
        background-color: var(--bs-tertiary-bg);
      }
    }
  }
}