.ThemeSwitcher {
  .btn {
    height: 48px;
    width: 48px;
    border: 2px;
    padding: 7px 12px 8px;
    margin-left: -48px;

    transition: all 0.3s ease-in-out;

    &:hover,&:focus {
      background-color: var(--bs-gray-200);
    }
  }

  .dropdown-menu-macos {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .dropdown-menu-macos li {
    padding: 0.1rem;
  }
  .dropdown-menu-macos .dropdown-item {
    border-radius: 0.25rem;
  }
  .w-220 {
    width: 220px;
  }
}

@import "bootstrap/scss/mixins/color-mode";
$color-mode-type: data;

@include color-mode(dark) {
  .ThemeSwitcher {
    .btn {
      &:hover,&:focus {
        background-color: var(--bs-tertiary-bg);
      }
    }
  }
}
