.App {
  min-height: 100vh;
  background-color: var(--bs-gray-100);
  .btn-clipboard {
    font-size: 0.875rem;
    line-height: 1;
    background-color: unset;
    border: 0;
    border-radius: 0.25rem;

    &:hover {
      color: var(--bs-primary);
    }
  }
}
