.Help {
  .card {
    height: auto;
    border-radius: 2rem;

    .card-header {
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
    }
  }

  .help-footer {
    a {
      text-decoration: none;
      color: var(--bs-body-color);

      &:hover {
        color: #0d6efd;
      }
    }
  }
}
