.InterconvertCodes {
  .layout {
    border-radius: 2rem;
  }

  .InterconvertNavTabs {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.3);

    .nav-tabs .nav-link {
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;

      &:hover,&:focus {
        background-color: var(--bs-tertiary-bg);
      }
    }
  }

  .Interconversion {
    .card {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }

    .btn {
      &:hover,&:focus {
        background-color: var(--bs-gray-200);
      }
    }
  }
}

@import "bootstrap/scss/mixins/color-mode";
$color-mode-type: data;

@include color-mode(dark) {
  .InterconvertCodes {
    .Interconversion {
      .btn {
        &:hover,&:focus {
          background-color: var(--bs-tertiary-bg);
        }
      }
    }
  }
}
