.MoreButton {
  .btn {
    height: 48px;
    width: 48px;
    border: 2px;
    padding: 7px 12px 8px;

    &:hover {
      background-color: var(--bs-gray-200);
    }
  }

  .dropdown-menu-macos {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .dropdown-menu-macos li {
    padding: 0.1rem;
  }
  .dropdown-menu-macos .dropdown-item {
    border-radius: 0.25rem;
  }
  .w-220px {
    width: 220px;
  }
}
